/LAB1/nbproject/private/
/LAB1/build/
/LAB2/nbproject/private/
/LAB2/build/
/LAB1 Part2/nbproject/private/
/LAB2 Part1/nbproject/private/
/LAB1 Part1/nbproject/private/
/LAB2 Part1/LAB2 Part1/nbproject/private/
/LAB2 Part1/LAB2 Part1/build/
/LAB3 Part1/LAB3 Part1/nbproject/private/
/LAB3 Part1/LAB3 Part1/build/
